body {
    background-color: black;
    color: white
}

@font-face {
    font-family: 'SarasaMonoSC-Bold';
    src: url('/font/SarasaMonoSC-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'SarasaMonoSC';
    src: url('/font/SarasaMonoSC-Regular.ttf') format('truetype');
}

h1 {
    font-size: 96px;
    font-family: SarasaMonoSC-Bold;
}


p {
    font-family: SarasaMonoSC;
    text-indent: 2em;
}
.text-box {
    color: #000; /* 初始黑色 */
    transition: all 0.3s ease; /* 添加过渡动画 */
}

.text-box:hover {
    color: #fff; /* 悬停白色 */
}
h2 {
    font-size: 72px;
    font-family: SarasaMonoSC-Bold;
    color: #000; /* 初始黑色 */
    padding: 20px;
    transition: color 0.3s ease; /* 颜色过渡动画 */
    cursor: pointer;
}

/* 永久激活状态 */
h2.active {
    color: #fff !important; /* 强制覆盖其他样式 */
}

h3 {
    font-size: 72px;
    font-family: SarasaMonoSC-Bold;
    color: #ffffff; /* 初始黑色 */
}
